
<div class = "my-3">
    <p>Для запуска сканирования станков в сети нажмите </p>
    <%= link_to 'Сканировать', check_path, method: :post, class: 'btn btn-outline-primary' %>
</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Станок</th>
      <th scope="col">Опции</th>
    </tr>
  </thead>
  <% if @ips %>
    <% @ips.each_with_index do |el,i| %>
        <tbody>
            <tr>
            <th scope="row"><%= i + 1 %></th>
            <td><%= el %></td>
            <td><%= link_to "Информация", info_path(i), class: 'btn btn-outline-primary' %></td>
            </tr>
        </tbody>
    <%end%>
   <%end%>
</table>
