

<div class="card w-75">
  <% if @ips %>
   <% @ips.each_with_index do |el,i| %>
    <div class="card-header">
       тут будет серийник
    </div>
    <div class="card-body">
      <p class="card-title"> ip = <%= el %></p>
      <p class="card-text"> location</p>
      <%= link_to "Информация", info_path(i), class: 'btn btn-outline-primary ' %>
    </div>
    <%end%>
  <%end%>
</div>